.image-container {
  box-shadow: 5px 4px 3px #0e153a, 10px 8px 13px #3d5af1; }

#inputimage {
  width: 90vw; }
  @media (min-width: 600px) {
    #inputimage {
      width: 500px; } }

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer; }
